<header class="header text-center d-flex flex-column justify-content-center align-items-center">
    <h1 class="display-3 animate-fade-in">
        Daniel Immelman <span class="emoji">👨‍💻</span>
    </h1>
    <p class="lead animate-slide-up">Full Stack Developer | Open Source Enthusiast</p>
    <div class="social-icons animate-fade-in">
        <a href="https://github.com/exception-raised" class="social-link" target="_blank" rel="noopener noreferrer">
            <ng-icon name="tablerBrandGithub"></ng-icon>
        </a>
        <a href="https://www.linkedin.com/in/daniel-immelman-a7a64b299/" class="social-link" target="_blank" rel="noopener noreferrer">
            <ng-icon name="tablerBrandLinkedin"></ng-icon>
        </a>
        <a href="https://leetcode.com/exception-raised/" class="social-link" target="_blank" rel="noopener noreferrer">
            <ng-icon name="tablerBrandLeetcode"></ng-icon>
        </a>
        <a href="https://stackoverflow.com/users/27669776/exception-raised" class="social-link" target="_blank" rel="noopener noreferrer">
            <ng-icon name="tablerBrandStackoverflow"></ng-icon>
        </a>
    </div>
</header>