<footer class="footer bg-dark text-white text-center py-4">
    <div class="container">
        <h5>Let's Connect</h5>
        <div class="social-icons my-3">
            <a href="https://github.com/exception-raised" class="text-white mx-2">
                <ng-icon name="tablerBrandGithub"></ng-icon>
            </a>
            <a href="https://www.linkedin.com/in/daniel-immelman-a7a64b299/" class="text-white mx-2">
                <ng-icon name="tablerBrandLinkedin"></ng-icon>
            </a>
            <a href="https://leetcode.com/exception-raised/" class="text-white mx-2">
                <ng-icon name="tablerBrandLeetcode"></ng-icon>
            </a>
            <a href="https://stackoverflow.com/users/27669776/exception-raised" class="text-white mx-2">
                <ng-icon name="tablerBrandStackoverflow"></ng-icon>
            </a>
        </div>
        <p>© 2024 Daniel Immelman. All rights reserved.</p>
    </div>
</footer>